.training-sect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10px auto;
}

.training-box1 {
    width: 50%;
    padding: 10px;
}

.training-box2 {
    width: 50%;
}

.training-box1 img {
    width: 75%;
}

.training-box2 p{
    font-size: 1.5em;
    line-height: 35px;
    padding-left: 1px;
}

@media (max-width: 950px) {
    .training-sect {
        display: block;
    }

    .training-box1 {
        width: 70%;
        margin: 10px auto;
    }

    .training-box1 img {
        width: 100%;
    }

    .training-box2 {
        width: 100%;
        text-align: justify;
    }

    .Gtrainingbox2 p {
        font-size: 1.3em;
        line-height: 30px;
    }
}