.overlays-txt {
    width: 90%;
}

.overlays-txt p {
    width: 100%;
    font-size: 3em;
}

.GIS-sect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10px auto;
    margin-top: 50px;
}

.GIS-box1 {
    width: 50%;
    padding: 10px;
}

.GIS-box2 {
    width: 50%;
}

.GIS-box1 img {
    width: 75%;
}

.GIS-box2 p{
    font-size: 1em;
    line-height: 30px;
    padding-left: 1px;
}

@media (max-width: 950px) {

    .swiper-slide img {
        width: 100%;
        height: 100%;
    }

    .overlays-txt {
        width: 90%;
    }

    .overlays-txt p {
        font-size: 2em;
        width: 100%;
    }

    .GIS-sect {
        display: block;
    }

    .GIS-box1 {
        width: 70%;
        margin: 10px auto;
    }

    .GIS-box1 img {
        width: 100%;
    }

    .GIS-box2 {
        width: 100%;
        text-align: justify;
    }

    .GIS-box2 p {
        font-size: 1.3em;
        line-height: 30px;
    }
}

@media (max-width: 450px) {
    .overlays-txt {
        width: 90%;
    }

    .overlays-txt p {
        font-size: 1.7em;
        width: 100%;
        font-weight: 600;
    }

    .GIS-sect {
        margin: 0;
        margin-top: 10px;
    }

    .GIS-box1 {
        width: 80%;
        margin: 10px auto;
        padding: 0;
    }

    .GIS-box1 img {
        width: 100%;
        margin: 0 auto;
    }

    .GIS-box2 {
        width: 100%;
        text-align: justify;
    }

    .GIS-box2 p{
        font-size: .9em;
        line-height: 25px;
        margin-top: 20px;
    }
}